@import url(https://fonts.googleapis.com/css?family=Barlow+Condensed:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Quicksand:300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,regular,italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Darker+Grotesque:300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Ballet:regular);
@import url(https://fonts.googleapis.com/css?family=Karla:200,300,regular,500,600,700,800,200italic,300italic,italic,500italic,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Space+Mono:regular,italic,600,700italic);
@import url(https://fonts.googleapis.com/css?family=Syne+Mono:regular);
@import url(https://fonts.googleapis.com/css?family=Qwitcher+Grypen:regular,700);

html {
   overflow: scroll;
   height: 100%;
   width: 960px;
   scroll-behavior: smooth;
   overflow-x: hidden;
}

li:hover {
   color: #10475b;
}
/*334040*/
html, body {
   padding:0px;
   margin:0px;
   background: #e7e7e7;
   background-size: auto;
   background-repeat: no-repeat;
   background-origin:center;
   width:100vw;
}

h2 {
   border-radius: 5px 5px 0 0;
   padding: 10px !important;
   position:absolute;
   min-width: 530px;
   max-width: 530px;
   height: 420px;
   font-size: 320%;
   left: 254px;
   top: 500px;
   transform: translateY(90%); 
   line-height: 60px;
   margin-bottom: 30px;
   font-weight: 10;
   font-family: 'Courier New', Courier, monospace;
   color:#afbdc2;
}

h3 {
   border-radius: 0 0 5px 5px;
   padding: 10px !important;
   margin:100%;
   position:absolute;
   min-width: 530px;
   max-width: 530px;
   height: 60px;
   font-size: 150%;
   left: 254px;
   top: 760px;
   transform: translateY(292.5%); 
   line-height: 60px;
   margin-bottom: 30px;
   font-weight: 10;
   font-family: 'Space Mono', 'Barlow Condensed', Quicksand, 'Roboto Condensed', serif;
   text-align: right;
   color:#a0bcc65a;
}

h2, h3 {
   z-index: 4 !important;
   background-color: #3340406b;
   filter: drop-shadow(0px 20px 20px rgb(49, 125, 106)) ;
   left: 50%;
   transform: translate(-50%, -50%); 
}

#a, #b, #c, #d {
   height: 223px;
   opacity: 50%;
   transform: rotate(90deg);
   position:absolute;
   top: 330px;
}
#a{
   right: -140px;
}
#b{
   right: -215px;
}
#c{
   right: 375px;
}
#d{
   right: 300px;
}

#icon {
   width: 150px;
   position: fixed;
   left: 23px;
   top:28px;
}

#main {
   /*height: 921.2px;*/
   width:100%;
   height:100%;
   position:absolute;
   /*right: 300px;*/
   right:00px;
   top: 0px;
   filter: contrast(100%) grayscale(40%) blur(5px);
}

.header {
   text-align: center !important;
   top: 50px;
   transform: translateY(-50%);
   background-color: #ffffffa7;
}

.heading {
   z-index: 20;
   position:fixed;
}

#Icon {
   font-family: serif;
   font-size: 50px;
   color: #1a222200;
   background-color: #33404000;
   background-image: url('Photos/IMG_1934.PNG') !important;
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;

}

/*@media screen and (min-width: 1200px){}
*, ::after, ::before {
   box-sizing: border-box;
}*/

body * {
   margin:0;
   padding:0;
}
 
a {
   font-family: 'Darker Grotesque', 'Space Mono', sans-serif;
   font-size: 20px;
   text-decoration: none;
   min-width: 190px !important;
}


menuitem {
   z-index: 100;
}
nav menuitem {
   position:relative;
   display:block;
   opacity: 0;
   cursor:pointer;
}
 
nav menuitem > menu {
   position: fixed;
   pointer-events:none;
}
nav > menu { display:flex; }
 
nav > menu > menuitem { pointer-events: inherit; opacity:1; }
menu menuitem a { white-space:nowrap; display:block; }
    
menuitem:hover > menu {
   pointer-events:initial;
}
 
menuitem:hover > menu > menuitem,
menu:hover > menuitem{
   opacity:1;
}
nav > menu > menuitem menuitem menu {
   transform:translateX(100%);
   top:0; right:0;
}

nav { 
   margin-top: 40px;
   margin-left: 40px;
}

nav a {
   background:rgba(135, 143, 183, 0);
   color:rgb(46, 39, 39);
   min-width:190px;
   transition: background 0.5s, color 0.5s, transform 0.5s;
   margin:0px 6px 6px 0px;
   padding:20px 40px;
   box-sizing:border-box;
   border-radius:3px;
   position:relative;
}

nav a:hover:before {
   content: '';
   top:0;
   left:0;
   position:fixed;
   background:rgba(77, 77, 77, 0.666);
   width:100%;
   height:100%;
   border-radius:3px;
} 

nav menuitem > menu > menuitem > a + menu:after{ 
   content: '';
   position:fixed;
   border:10px solid transparent;
   border-left: 10px solid #ffffffa7;
   top: 23px;
   left:-35px;
   transition: opacity 0.6s, transform 0s;
}

nav > menu > menuitem > menu > menuitem{
   transition: transform 1s, opacity 1s;
   transform:translateY(150%);
   opacity:0;
   top:20px;
   background-color:#ffffffa7;
   border-radius:3px;
   z-index: 10 !important;
}
 
nav > menu > menuitem:hover > menu > menuitem,
nav > menu > menuitem.hover > menu > menuitem{
   transform:translateY(0%);
   opacity: 1;
   background-color: #fffffff0;
   width: 191px;
}

menuitem > menu > menuitem > menu > menuitem{
   transition: transform 1s, opacity 1s;
   transform:translateX(195px) translateY(0%);
   opacity: 0;
   background-color: #fffffff0;
   border-radius: 3px;
   margin-left: 5px;
   width: 191px;
} 
menuitem > menu > menuitem:hover > menu > menuitem,  
menuitem > menu > menuitem.hover > menu > menuitem{  
   transform:translateX(0) translateY(0%);
   opacity: 1;
}

::-webkit-scrollbar {
   width: 10px;
   height:10px;
}

::-webkit-scrollbar-track {
   background-color: #334040;
}
 
::-webkit-scrollbar-thumb {
   background: #888;
   border-radius: 10000px;
}
   
::-webkit-scrollbar-thumb:hover {
   background: #555;
} 
::-webkit-scrollbar-button:single-button {
   background-color: #888;
   display: block;
   border-style: solid;
   height: 13px;
   width: 16px;
}
/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
   border-width: 0 8px 8px 8px;
   border-color: transparent transparent #888 transparent;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
   border-color: transparent transparent #888 transparent;
}
/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
   border-width: 8px 8px 0 8px;
   border-color: #888 transparent transparent transparent;
}
 
::-webkit-scrollbar-button:vertical:single-button:increment:hover {
   border-color: #888 transparent transparent transparent;
}